<div class="entity-page">
    <div class="connect-section">
        <div class="connect-entity" ng-click="!vm.isEdit ? vm.isEdit=!vm.isEdit : ''">
            <span  ui-sref="app.create">+</span>
            Entities connected ({{vm.entities.length}})
            <i class="glyphicon" ng-class="{'glyphicon-chevron-down' : !vm.isEdit, 'glyphicon-chevron-up' : vm.isEdit}" ng-click="vm.isEdit=false; $event.stopPropagation();"></i>
            <ul ng-show="vm.isEdit">
                <li class="thumbnail goat-item" ng-repeat="entity in vm.entities">
                    <div class="caption">
                        <h3>{{entity.name}}</h3>
                        <p>{{entity.type}}</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>
