@import "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";

body{ background: $body-color !important;}

.entity-page {
  @include full-width;
  .connect-section {
    @include display-flex-center;
    .connect-entity {
      width: 420px;
      min-height: 80px;
      height: auto;
      line-height: 80px;
      font-size: 17px;
      @include box-shadow(rgba($black-color, 0.5));
      padding: 0 25px;
      background: $white-color;
      color: #202020;
      cursor: pointer;
      font-weight: 600;
      span {
        font-size: 25px;
        padding: 5px 12px;
        margin-right: 6px;
        background: rgba($black-color, 0.1);
        @include rounded(50%);
        color: $plus-color;
        margin-top: 5px;
      }
      i{
        float: right;
        margin-top: 35px;
      }
      ul{
        @include full-width; padding: 0;
        li{
          margin: 10px 0;
          padding-left: 50px;
          h3{
            font-weight: 600;
            font-size: 15px;
            color: #202020;
          }
          p{
            font-size: 14px;
            color: $plus-color;
            font-weight: normal;
          }
        }
      }
      .thumbnail {
        border: 0;
        padding-bottom: 8px;
      }
    }
  }
  .connect-section + .connect-section {
    .connect-entity {
      height: auto;
      margin-top: 0;
    }

  }
}