<div class="home-page">
    <div class="connect-section">
        <div class="connect-entity" ng-click="vm.showModal()">
            <span>+</span>
            Connect Entity
        </div>
    </div>
</div>