@import "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";

body{ background: $body-color !important;}

.home-page{
  @include full-width;
  .connect-section{
    @include display-flex-center;
    .connect-entity{
      width: 420px; height: 80px; line-height: 80px; font-size: 17px;
      @include box-shadow(rgba($black-color, 0.5));
      padding: 0 25px;
      background: $white-color;
      color: $plus-color;
      cursor: pointer;
      span{
        font-size: 25px;
        padding: 5px 12px; margin-right: 6px;
        background: rgba($black-color, 0.1);
        @include rounded(50%);
        color: $plus-color;
      }
    }
  }
}