.goat-item.thumbnail {
  width: 100%; float: left;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 0;
  border:0;
  border-top: solid 1px #ccc;
  .check-icon{
    width: 60px; text-align: center; float: left;
    input{
      width: 20px; height: 20px; float: none; margin:8px auto 0; cursor: pointer;
      &:focus{
        outline: none;
      }
    }
    input[type="checkbox"].notCheckedInput{
      float: left;
      margin: 7px 10px 0px 21px;
      background: none;
      border: 2px solid #767676;
      outline: none;
      -webkit-appearance: inherit;
      padding: 8px;
      border-radius: 4px;
    }
    input[type="checkbox"].checkedInput{
      float: left;
      width: 15px;
      margin: 7px 10px 0px 21px;
      height: 15px;
      background: #303f9f;
      border: 2px solid #303f9f;
      outline: none;
      -webkit-appearance: inherit; position: relative; font-family: 'Glyphicons Halflings'; padding: 8px; border-radius: 4px;
    }
    input[type="checkbox"].checkedInput:after{
      content: '\e013'; position: absolute; top: 1px; left: 2px; font-size: 12px; color: #fff;
    }
  }
  .caption{
    width: calc(100% - 60px); float: left;
    padding: 0;
    h3{
      margin: 0; font-size: 17px;
    }
    p{
      margin: 0;
    }
  }
}