<div class="col-md-12">
    <div class="row">
      <div class="thumbnail goat-item">
        <div class="check-icon"><input class="notCheckedInput" ng-class="{'checkedInput' : vm.entity.isConnected}" type="checkbox" ng-model="vm.entity.isConnected"></div>
        <div class="caption">
          <h3>{{vm.entity.name}}</h3>
          <p>{{vm.entity.type}}</p>
        </div>
      </div>
    </div>
</div>